.navbar {
	display: flex;
	justify-content: space-evenly;
	margin-left: 300px;
	margin-top: 30px;
	font-size: 16px;	
}

.img{
	
	margin-top: -50px;
	height: 90px;
	margin-left: 100px;
}

.main-content{
	background-image: url("../images/Fashion88.png");
	height: 382px;
}

.first {
	font-family: 'Poppins', sans-serif;
	font-size: 22px;
	display: flex;
	justify-content: center;
    padding: 110px;
    color: #FFFFFF;   
}

.second{
	font-family: 'Playfair Display', serif;
	font-size: 48px;
	display: flex;
	justify-content: center;
	margin-top: -100px;
	color: #FFFFFF
    
}

.third{
	font-family: 'Poppins', sans-serif;
	margin-top: 70px;
	margin-left: 100px;
	color: #FF7A00;
	font-size: 22px;
}

.fourth{
	display: flex;
	justify-content: space-evenly;
	margin-top: 60px;
}

.fifth{
	font-size: 36px;
	font-family: 'Playfair Display', serif;
	margin-left: 80px;
}

.sixth {
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
	color: #7B7B7B;
	margin-left: 80px;
	margin-top: 15px;
}

.seventh {
	font-family: 'Poppins', sans-serif;
	margin-left: 80px;
	color: #FF7A00;
	font-size: 14px;
	margin-top: 20px;
}

.eighth {
	margin-left: 800px;
	margin-top: -160px;
	font-size: 36px;
	font-family: 'Playfair Display', serif;
}

.ninth{
	margin-left: 800px;
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
	color: #7B7B7B;
	margin-top: 10px;
}

.tenth{
	margin-left: 800px;
	font-family: 'Poppins', sans-serif;
	color: #FF7A00;
	font-size: 14px;
	margin-top: 20px;
}

.eleventh{
	display: flex;
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
	color: #FFFFFF;
	background-color: #FF7A00;
	width: 100px;
	margin-left: 700px;
	margin-top: 65px;
}

.d11 {
	margin-top: 75px;
	width: 1600px;
	height: 266px;
	background-color: #181C28;
}

.div {
	display: flex;
	justify-content: space-evenly;
	margin-top: 100px;
	font-family: 'Poppins', sans-serif;
	font-size: 24px;
}

.div2 {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	margin-left: 180px;
	margin-top: 30px;
	color: #7B7B7B;
}

.div3 {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	margin-left: 470px;
	margin-top: -75px;
	color: #7B7B7B;
}

.div4{
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	margin-left: 800px;
	margin-top: -75px;
	color: #7B7B7B;
}

.div5{
	margin-left: 1200px;
	margin-top: -100px;

}

.div6{
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	margin-left: 1200px;
	margin-top: 100px;
	color: #7B7B7B;
}